* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #595f64;
}

/* header */
.neon_word {
    display: inline-block;
}

header {
    background-image: url("../assets/darksky.png");
    height: 200px;
    text-align: center;
    padding: 20px;
    word-spacing: .4em
}

.neon, .neon:hover .broken {
    color: transparent;
    font-size: 75px;
    font-family: Londrina Sketch, serif;
    font-style: italic;
    text-decoration: none;
    letter-spacing: .09em;
    text-shadow: 0 0 .02em hsla(185, 50%, 80%, 0.8),
    .04em .02em .05em hsla(184, 50%, 80%, .8),
    .03em .03em .1em #e5a8b3,
    .03em .03em .1em pink,
    -.03em .03em .1em pink,
    -.03em -.03em .1em pink,
    .03em .03em .8em pink,
    .03em -.03em .8em #ffc0cb,
    -.03em .03em .8em pink,
    -.03em -.03em .8em pink;
}

.broken {
    text-shadow:
            0 0 .02em hsl(0, 60%, 84%),
            .04em .02em .05em hsla(30, 100%, 70%, .3),
            .03em .03em .1em #FFC0CB,
            .03em .03em .1em #FFC0CB,
            -.03em .03em .1em #FFC0CB,
            -.03em -.03em .1em #FFC0CB;
}

header h3 {
    font-family: "Segoe UI", Roboto, sans-serif;
    color: #dddddd;
}

header .highlight {
    color: #bfd4e0 ;
}

/* nav */
#navigation {
    display: flex;
    justify-content: center;
    background-color: #d2d5d9;
    padding: 20px;
    font-size: 18px;
}

nav a {
    color: #000;
    text-decoration: none;
    padding: 35px;
}

#navigation a:hover, #navigation a.active {
    background-color: #b8bbbf;
    color: #fff;
    padding: 20px 35px;
}

main {
    height: 1000px;
}

/* form */

#formulier {
    float: top;
    margin-top: 25px;
    font-family: "Segoe UI", Roboto, sans-serif;
    padding: 15px;
    align-self: center;
    background-color: rgba(191,212,224,0.8);
    width: max-content;
    margin-left: 59vh;

}

#formulier h1 {
    color: #fff;
    text-align: center;
}

label {
    width: 150px;
    display: inline-block;
    padding: 10px 0 10px 10px;
    text-align: center;
}

input {
    height: 20px;
    width: 300px;
    text-align: right;
}

#submit {
    width: 250px;
    height: 50px;
    margin-left: 50%;
    text-align: center;
}

#Opmerking {
    width: 300px;
    height: 100px;
}

.test2 {
    padding-top: 0;
}

button {
    width: 500px;
    height: 150px;
    margin-left: 120px;
    text-align: center;
    background-color: #151515;
    color: white;
}

/* footer */

footer {
    font-family: "Segoe UI", Roboto, sans-serif;
    float: bottom;
    position: fixed;
    text-align: center;
    width: 100%;
    background-color: #eac6c6;
    bottom: 0;
    height: 70px;
}

footer p {
    padding: 15px;
}