* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #595f64;
    background-image: url("../assets/bg_img.png");
    background-position-y: -200px;
    background-position-x: 135vh;
}

/* header */
.neon_word {
    display: inline-block;
}

header {
    background-image: url("../assets/darksky.png");
    height: 200px;
    text-align: center;
    padding: 20px;
    word-spacing: .4em
}

.neon, .neon:hover .broken {
    color: transparent;
    font-size: 75px;
    font-family: Londrina Sketch, serif;
    font-style: italic;
    text-decoration: none;
    letter-spacing: .09em;
    text-shadow: 0 0 .02em hsla(185, 50%, 80%, 0.8),
    .04em .02em .05em hsla(184, 50%, 80%, .8),
    .03em .03em .1em #e5a8b3,
    .03em .03em .1em pink,
    -.03em .03em .1em pink,
    -.03em -.03em .1em pink,
    .03em .03em .8em pink,
    .03em -.03em .8em #ffc0cb,
    -.03em .03em .8em pink,
    -.03em -.03em .8em pink;
}

.broken {
    text-shadow:
            0 0 .02em hsl(0, 60%, 84%),
            .04em .02em .05em hsla(30, 100%, 70%, .3),
            .03em .03em .1em #FFC0CB,
            .03em .03em .1em #FFC0CB,
            -.03em .03em .1em #FFC0CB,
            -.03em -.03em .1em #FFC0CB;
}

header h3 {
    font-family: "Segoe UI", Roboto, sans-serif;
    color: #dddddd;
}

header .highlight {
    color: #bfd4e0 ;
}

/* nav */
#navigation {
    display: flex;
    justify-content: center;
    background-color: #d2d5d9;
    padding: 20px;
    font-size: 18px;
    box-shadow: #43474a;
}

nav a {
    color: #000;
    text-decoration: none;
    padding: 35px;
}

#navigation a:hover, #navigation a.active {
    background-color: #b8bbbf;
    color: #fff;
    padding: 20px 35px;
}

/* form */

#formulier {
    margin-top: 15px;
    margin-left: 35vh;
    font-family: "Segoe UI", Roboto, sans-serif;
    padding: 15px;
    align-self: center;
    background-color: rgba(236, 236, 236, 0.9);
    width: 1000px;
}

#formulier h1 {
    color: #000;
    text-align: center;
}

label {
    width: 150px;
    display: inline-block;
    padding: 10px 0 10px 10px;
    text-align: center;

}

.inputlabel {
    margin-left: 240px;
}

#Mailbox {
    margin-left: 200px;
}

input {
    height: 20px;
    width: 300px;
    text-align: right;

}

#submit {
    width: 250px;
    height: 50px;
    margin-left: 370px;
    text-align: center;
}

#submit:hover {
    background-color: #bfd4e0;
    border-width: 1px;
}

#Opmerking {
    width: 300px;
    height: 100px;
}

/* footer */

footer {
    font-family: "Segoe UI", Roboto, sans-serif;
    text-align: center;
    width: 100%;
    background-color: #eac6c6;
    bottom: 0;
    height: 70px;
}

footer p {
    padding-top: 30px;
}